{% extends '::base.html.twig' %}
{% block body -%}
<h1>Dodawanie nowego filmu</h1>
{{ form_start(form) }}
<div class="form-group">
	<label class="col-sm-2 control-label required" for="sklepbundle_movie_title">Hasło</label>
	<div class="col-sm-10">
		<input type="password" name="password" required="required" maxlength="255" class="form-control" placeholder="Wpisz hasło aby potwierdzić ze jesteś administratorem"></div>
</div>
{{ form_end(form) }}
{% endblock %}