{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista zamówień</h1>
<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Imie i nazwiso</th>
          <th>Email</th>
          <th>Data</th>
          <th>Filmy</th>
        </tr>
      </thead>
      <tbody>
         {% for entity in entities %}
        <tr>
          <th scope="row">1</th>
          <td>{{ entity.name }}</td>
          <td>{{ entity.email }}</td>
          <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
          <td>{{ entity.movies|join(',') }}</td>
        </tr>

    {% endfor %}   
    </tbody>
</table>
    {% endblock %}
