{% extends '::base.html.twig' %}

{% block title %}Kontakt{% endblock %}

{% block body -%}

<ul class="list-group">
  <li class"list-group-item">
  	<p>
  		<h2>Michał Feuer, s166567, KrDZIs3012Io, sofvindex@gmail.com</h2>
  	</p>
  </li>
  <li class"list-group-item">
  	<p>
  		<h2>Piotr Błachewicz, s173068, KrDZIs3012Io, blaszku@hotmail.com</h2>
  	</p>
  </li>
  <li class"list-group-item">
  	<p>
  		<h2>Bartosz Godula, s173493, KrDZIs3012Io, bartekg2@gmail.com</h2>
  	</p>
  </li>
</ul>


{% endblock %}



